@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Mine";
}

<h2>Mine</h2>

<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    @gig.Venue
                </div>
                <div class="genre">
                    @gig.Genre.Name
                </div>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">Edit</a> |
                    <a href="#" class="js-cancel-gig" data-gig-id="@gig.Id">Cancel</a>
                </div>
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(function () {
            $('.js-cancel-gig').on('click', function (e) {
                e.preventDefault();

                var link = $(e.target);

                var dialog = bootbox.dialog({
                    title: 'Are you sure you want to cancel this gig ?',
                    message: "<p>Confirm</p>",
                    buttons: {
                        no: {
                            label: "No",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: '/api/gigs/' + link.attr('data-gig-id'),
                                    method: 'DELETE'
                                }).then(function () {
                                    link.parents('li').fadeOut(function () {
                                        $(this).remove();
                                    });
                                }, function () {
                                    alert('Something failed!');
                                });
                            }
                        }
                    }
                });

            });
        });
    </script>
}


